.hader-wrap {
    position: fixed;
    top: 0;
    z-index: 1100;
    width: 100%;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    .header {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 50px;
        color: #fff;
        transition: color .3s linear;
        .info {
            flex: 1;
            padding: 8px 16px;
            font-size: 18px;
            letter-spacing: unset;
            cursor: pointer;
            a {
                color: #fff;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            width: 20%;
            padding-left: 15px;
            padding-right: 15px;
            li {
                padding: 12px;
                a {
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
        a.selected {
            font-weight: bold;
            transition: font-weight .3s linear;
        }
    }
}
.hader-wrap.scrollChange {
    .header {
        .info {
            a {
                color: #000;
                transition: color .1s linear;
            }
        }
        ul {
            li {
                a {
                    color: #000;
                    transition: color .1s linear;
                }
            }
        }
        button {
            color: #000;
            transition: color .1s linear;
        }
    }
}

@media (max-width: 959.95px) {
    .hader-wrap {
        .header {
            ul {
                display: none;
            }
            button {
                display: inline-block;
                margin-right: 15px;
                fill: currentColor;
                width: 1em;
                font-size: 2em;
                flex-shrink: 0;
                user-select: none;
                background: transparent !important;
                border: 0 none !important;
                outline: none;
                text-align: center;
                transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                cursor: pointer;
                color: #fff;
                svg {
                    display: flex;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .hader-wrap {
        .header {
            max-width: 540px;
        }
    }
}

@media (min-width: 768px) {
    .hader-wrap {
        .header {
            max-width: 720px;
        }
    }
}

@media (min-width: 992px) {
    .hader-wrap {
        .header {
            max-width: 960px;
        }
    }
}

@media (min-width: 1200px) {
    .hader-wrap {
        .header {
            max-width: 1140px;
        }
    }
}