main {
    position: relative;
    margin: -60px 30px 0px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: #FFFFFF;
    height: 2000px;
    .wrap {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        .container {
            .content {
                display: flex;
                justify-content: center;
                padding-left: 15px;
                padding-right: 15px;
                box-sizing: border-box;
            }
        }
    }
}

@media (min-width: 576px) {
    main {
        .wrap {
            max-width: 540px;
        }
    }
}

@media (min-width: 768px) {
    main {
        .wrap {
            max-width: 720px;
        }
    }
}

@media (min-width: 992px) {
    main {
        .wrap {
            max-width: 960px;
        }
    }
}

@media (min-width: 1200px) {
    main {
        .wrap {
            max-width: 1140px;
        }
    }
}
