/*
 * Variables
 */
 :root {
  --card-padding: 24px;
  --card-height: 180px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(white var(--desc-line-height), transparent 0);
  --desc-line-1-width:230px;
  --desc-line-1-position: var(--card-padding) 242px;
  --desc-line-2-width:180px;
  --desc-line-2-position: var(--card-padding) 265px;
  --blur-width: 200px;
  --blur-size: var(--blur-width) var(--card-height);
 }
  .card-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
    /*
    * Card Skeleton for Loading
    */
    .card {
      width: 100%;
      height: var(--card-height);
    }
    .card:empty::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(90deg, rgba(211, 211, 211, 0) 0, rgba(211, 211, 211, 0.8) 50%, rgba(211, 211, 211, 0) 100%), var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton),var(--card-skeleton);
      background-size: var(--blur-size), var(--title-width) var(--title-height), var(--desc-line-1-width) var(--desc-line-height), var(--desc-line-2-width) var(--desc-line-height), 100% 100%;
      background-position: -200% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), 0 0;
      background-repeat: no-repeat;
      -webkit-animation: loading 1.5s infinite;
              animation: loading 1.5s infinite;
    }
  }
  
  @-webkit-keyframes loading {
    to {
      background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), 0 0;
    }
  }
  
  @keyframes loading {
    to {
      background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), 0 0;
    }
  }