html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: STHeiti, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; 
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 12px;
  /* font-family: "Pingfangsc-regular", "Helvetica neue", "Arial", "Microsoft Yahei", "Songti SC" */
  font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

th {
  white-space: nowrap;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em,
strong {
  font-style: normal
}

a {
  text-decoration: none;
}

.none {
  display: none
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both
}

input.input_flie[type=file] {
  border: 1px solid #394862 !important;
  height: 28px;
  line-height: 28px;
  width: 200px;
  position: relative;
  top: -4px;
  margin: 0 5px;
}

@-moz-document url-prefix() {
  input.input_flie[type=file] {
    border: 1px solid #394862 !important;
    height: 28px;
    line-height: 28px;
    width: 200px;
    position: relative;
    top: 0 !important;
    margin: 0 5px;
  }
}